@font-face {
    font-family: 'ds-digitalnormal';
    src: url('/fonts/ds-digi-webfont.woff2') format('woff2'),
         url('/fonts/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






body {
    width: 1300px;
    margin: auto;
    font-family: Courier;
    background-color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;    
}



.siteContainer {
    display: grid;
    grid-template-areas:
    'header header header'
    'menu menu menu'
    'left left right'
    /*'main main right'
    'footer footer right'*/;
    padding: 10px;
    background-color: #2a2c1e;
    box-shadow: rgba(180, 180, 180, 0.25) 0 54px 55px, rgba(160, 160, 160, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}


.header, .navBar, .intro, .interview, .recommendations, .works {
    background-color: #e8e8e8;
    padding: 20px;
    margin: 10px;
    border: groove 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;

}

.siteContainer > div.header{
    grid-area: header;
    text-align: center;
    background-color: #fbfff0;
    height: 100px;
    background: linear-gradient( 180deg, rgba(148, 148, 148, 0.9) 0%, rgba(71, 71, 71, 0.9) 20%, rgba(19, 19, 19, 0.9) 40%, rgba(7, 7, 7, 0.93) 100% );
}


.siteContainer > div.navBar {
    grid-area: menu;
    padding: 10px;
    background: linear-gradient(180deg, #e3e0c6 44%, #bdb786 78%);
    text-align: center;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.siteContainer > div.intro {
    font-size: 15px;
    padding: 10px;
    height:fit-content;
    background: linear-gradient(180deg, #e3e0c6 44%, #bdb786 78%);

}

.siteContainer > div.works{
    grid-area: right;
    width: 380px;
}

.siteContainer > div.interview {
    height:fit-content;
    
}

div.recommendations {
    height: fit-content;
    background: linear-gradient(180deg, #e3e0c6 44%, #bdb786 78%);


    
}

#mainText {
 grid-area: left;   
}


a {
    color:#b1b175;
    
}

.q {
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    background-color: #404040;
    padding: 10px;
    color: #bbc94e;
    position: sticky;
    top: 5px;
    height: 120px;
    margin-top: 30px;
}

ul {
    list-style: none;

    
}

li {
    width: fit-content;
    margin-top: 40px;

    
}


li a {
    display: block;
    color: #ecf0de;
    text-shadow: 1px 1px 10px white;
    padding: 10px;
    width: fit-content;
    background: linear-gradient( to bottom, rgba(119, 119, 119, 0.925) 0%, rgba(97, 97, 97, 0.925) 10%, rgba(35, 35, 35, 0.925) 55%, rgba(0, 0, 0, 0.925) 56%, rgba(0, 0, 0, 0.925) 60%, rgba(32, 32, 32, 0.925) 100% );
    border-radius: 5px;
    font-weight: lighter;
    border: 1px solid black;
    margin-top:  10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    
}

a:hover{
    color: #bbc94e; 

    
}



figure {
    border: groove 5px black;
    border-radius: 40px 1px 40px 1px;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient( 180deg, rgba(148, 148, 148, 0.9) 0%, rgba(71, 71, 71, 0.9) 20%, rgba(19, 19, 19, 0.9) 40%, rgba(7, 7, 7, 0.93) 100% );
    color: #e8f0a4;
    text-shadow: 1px 1px 10px white;

    
}


img {
    width: 270px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 10px;
    box-shadow: 4px 4px 20px #95a443;

}

img:hover {
    width: 500px;
    position: absolute;
    
}


hr.dotted {
    border-bottom: 4px dotted;
    border-top: none;
    
}

h1 {
    color: #ecf0de;
    text-shadow: 1px 1px 10px white;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    margin-top: -1px;
    font-family: 'ds-digitalnormal';
    
}

h1:hover {
    color: #bbc94e; 
}

h2 {
    color: #ecf0de;
    text-shadow: 1px 1px 10px white;
    padding: 10px;
    text-align: center;
    margin-top: -40px
}

h2:hover {
    color: #bbc94e; 
}

h3 {
    color: #ecf0de;
    text-shadow: 1px 1px 10px white;
    padding: 10px;
    font-size: 30px;
    width: fit-content;
    background: linear-gradient( to bottom, rgba(119, 119, 119, 0.925) 0%, rgba(97, 97, 97, 0.925) 10%, rgba(35, 35, 35, 0.925) 55%, rgba(0, 0, 0, 0.925) 56%, rgba(0, 0, 0, 0.925) 60%, rgba(32, 32, 32, 0.925) 100% );
    border-radius: 5px;
    text-align: center;
    margin: auto;
    font-weight: lighter;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

h3:hover {
    color: #bbc94e; 
}

h4 {
    color: #b1b175;
    text-shadow: 1px 1px 10px #ffff94;
    box-shadow: 2px 2px 10px;
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    
}

h4:hover {
    color: #909d2b; 
}

::selection {
    background-color: #bbc94e;
    color: white;
    
}


